.home_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 100px 20px;
  margin-top: 60px;
  background: linear-gradient(to right, #efefef, #efefef);
  border-radius: 1rem;
  color: black;
}

.home_infos {
  width: 33rem;
}

.home_container h1 {
  font-size: 3rem;
}

.home_container p {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  color: rgb(83, 83, 83);
}

.home_container span {
  padding: 0.4rem 1rem;
  background-color: #1a1a1a;
  color: rgba(255, 182, 45, 0.979);
  transition: 0.5s;
}

.home_container span:hover {
  background-color: rgba(255, 182, 45, 0.979);
  color: rgb(26, 26, 26);
  transition: 0.5s;
}

.home_container img {
  height: 33rem;
  width: 60rem;
}
