.project_card {
  padding: 1rem;
  border-radius: 10px;
  width: 22rem;
  height: 15rem;
  margin: 2rem;
  background-color: #e2e2e2;
  box-shadow: 5px 4px 7.7px #00000042;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project_card h4 {
  background-color: #000000;
  color: #ffbb33;
  width: 15rem;
  padding: 0.4em;
  margin-bottom: 1em;
  font-size: 1.3em;
  text-align: center;
  border-radius: 4px;
}

.project_card p {
  color: #000000;
  margin-bottom: 1em;
}
.project_card p span {
  font-weight: bold;
}

.category_text {
  display: flex;
  align-items: center;
}
.category_text span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 5px;
}

.category_text .Infra {
  background-color: #ffaebc;
}

.category_text .Desenvolvimento {
  background-color: #a0e7e5;
}
.category_text .Desing {
  background-color: #b4f8c8;
}
.category_text .Planejamento {
  background-color: #ffd899;
}

.bntsCards {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 14rem;
  height: 3.4rem;
}

.bntsCards a,
.bntsCards button {
  padding: 0.6rem 1rem;
  background-color: #000000;
  color: #ffbb33;
  border: none;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  border-radius: 16px;
  width: 20rem;
  height: 3.4rem;
}

.bntsCards a:hover,
.bntsCards button:hover {
  background-color: #ffbb33;
  color: #000000;
  transition: 0.5s;
}

@media (min-width: 300px) and (max-width: 575.98px) {
  .project_card {
    width: 95%;
    height: 40%;
    box-shadow: 3px 3px 10px #00000042;
  }

  .project_card h4 {
    background-color: #000000;
    width: 10rem;
    padding: 0.2em;
    font-size: 1em;
  }

  .bntsCards {
    margin-left: 1rem;
  }
}
