.form_container {
  height: 35rem;
  width: 60rem;
  padding: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  background-color: rgba(0, 0, 0, 0.055);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.25);
}

.form_inputs {
  width: 75%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.form_inputs h1 {
  font-size: 1.8rem;
}

.form_inputs p {
  color: rgb(90, 86, 86);
  font-weight: 500;
  margin-bottom: 1.8rem;
}

.messagePosition {
  position: absolute;
  top: 5.5rem;
  right: 1rem;
}

@media (min-width: 300px) and (max-width: 575.98px) {
  .form_container {
    height: 37rem;
    width: 18rem;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.25);
    margin-right: 10px;
  }

  .form_inputs {
    width: 100%;
    font-size: 1rem;
  }

  .form_inputs h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .form_inputs p {
    font-size: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .form_container {
    height: 30rem;
    width: 27rem;
    margin-right: 10px;
  }

  .form_inputs {
    width: 100%;
    font-size: 1rem;
  }

  .form_inputs h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .form_inputs p {
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .form_container {
    height: 43rem;
    width: 37rem;
    margin-right: 10px;
  }

  .form_inputs {
    width: 100%;
    font-size: 1rem;
  }

  .form_inputs h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .form_inputs p {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .form_container {
    height: 35rem;
    width: 55rem;
    margin-right: 10px;
  }
}
