.home_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 100px 20px;
  margin-top: 60px;
  background-color: #efefef;
  border-radius: 1rem;
  color: black;
}

.home_infos {
  width: 33rem;
}

.home_container h1 {
  font-size: 3rem;
}

.home_container p {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  color: rgb(83, 83, 83);
}

.home_container span {
  padding: 0.4rem 1rem;
  background-color: #1a1a1a;
  color: rgba(255, 182, 45, 0.979);
  transition: 0.5s;
}

.home_container span:hover {
  background-color: rgba(255, 182, 45, 0.979);
  color: rgb(26, 26, 26);
  transition: 0.5s;
}

.home_container img {
  height: 33rem;
  width: 60rem;
}

/* celulares menores */
@media (min-width: 300px) and (max-width: 575.98px) {
  .home_container {
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 100px 20px;
    margin-top: 60px;
    border-radius: 1rem;
    color: black;
    width: 100%;
  }

  .home_infos {
    width: 100%;
  }

  .home_container h1 {
    font-size: 2.5rem;
    width: 100%;
  }

  .home_container img {
    margin-top: 3rem;
    height: 20rem;
    width: 40rem;
  }
}

/* celulares menores */
@media (min-width: 576px) and (max-width: 767.98px) {
  .home_container {
    background-color: red;
  }
}

/* Celulares e alguns tablets */
@media (min-width: 768px) and (max-width: 991.98px) {
  .home_container {
    background-color: rgb(7, 202, 0);
  }
}

/* Tablets */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .home_container {
    background-color: rgb(0, 255, 234);
  }
}

/* Notebooks */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .home_container {
    background-color: rgb(153, 0, 255);
  }
}

/* Desktop */

@media (min-width: 1400px) {
  .home_container {
    background-color: rgb(255, 0, 140);
  }
}
