.formProject_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.formProject {
  display: flex;
  margin: 5.5rem auto;
  justify-content: center;
  align-items: center;
}

@media (min-width: 300px) and (max-width: 575.98px) {
  .formProject {
    margin: 3rem auto;
  }
}
