.select_container {
  margin-top: 2rem;
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.select_box {
  height: 2.2rem;
  width: 30%;
  padding-left: 1rem;
  color: black;
}
@media (min-width: 300px) and (max-width: 575.98px) {
  .select_box {
    height: 2.2rem;
    width: 80%;
    margin-top: 1rem;
    margin-left: 1px;
    color: black;
  }
}
